
.DS_Store
*.xcuserstate
Project5/Project5.xcodeproj/project.xcworkspace/xcuserdata/alexander.xcuserdatad/UserInterfaceState.xcuserstate
Project10/Project10.xcodeproj/project.xcworkspace/xcuserdata/alexander.xcuserdatad/UserInterfaceState.xcuserstate
Project11/Project11.xcodeproj/project.xcworkspace/xcuserdata/alexander.xcuserdatad/UserInterfaceState.xcuserstate
Project12b/.DS_Store
Project12b/Project10.xcodeproj/project.xcworkspace/xcuserdata/alexander.xcuserdatad/UserInterfaceState.xcuserstate
Project13/Project13.xcodeproj/project.xcworkspace/xcuserdata/alexander.xcuserdatad/UserInterfaceState.xcuserstate
Project15/Project15.xcodeproj/project.xcworkspace/xcuserdata/alexander.xcuserdatad/UserInterfaceState.xcuserstate
Project17/Project17.xcodeproj/project.pbxproj
Project17/Project17.xcodeproj/project.xcworkspace/xcuserdata/alexander.xcuserdatad/UserInterfaceState.xcuserstate
Project19/Project19.xcodeproj/project.xcworkspace/xcuserdata/alexander.xcuserdatad/UserInterfaceState.xcuserstate
Project19/Project19.xcodeproj/xcuserdata/alexander.xcuserdatad/xcschemes/xcschememanagement.plist
Project2/Project2.xcodeproj/project.xcworkspace/xcuserdata/alexander.xcuserdatad/UserInterfaceState.xcuserstate
Project20/Project20.xcodeproj/project.xcworkspace/xcuserdata/alexander.xcuserdatad/UserInterfaceState.xcuserstate
Project21/Project21.xcodeproj/project.xcworkspace/xcuserdata/alexander.xcuserdatad/UserInterfaceState.xcuserstate
Project5/Project5.xcodeproj/project.xcworkspace/xcuserdata/alexander.xcuserdatad/UserInterfaceState.xcuserstate
Project7/Project7.xcodeproj/project.xcworkspace/xcuserdata/alexander.xcuserdatad/UserInterfaceState.xcuserstate
Project8/Project8.xcodeproj/project.xcworkspace/xcuserdata/alexander.xcuserdatad/UserInterfaceState.xcuserstate
Project9/Project7.xcodeproj/project.xcworkspace/xcuserdata/alexander.xcuserdatad/UserInterfaceState.xcuserstate
